@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/assets/logos/logo.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
}